*:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgba($blue, 0.15);
}

*::selection {
	background: $yellow;
}
*::-moz-selection {
  background: $yellow;
  color: $green;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	transition: 2s opacity ease;
}

body.js-load.js-load-finish {
	opacity: 1;
}