*:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgba($blue, 0.15);
}

*::selection {
  background: $yellow;
}
*::-moz-selection {
  background: $yellow;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}