$blue: #110081;
$blue-light: #DCD9ED;
$yellow: #f9f1e2;
$green: #e6f1ed;
$column: 2rem;

// Breakpoints
$small-max:   640px;
$medium-min:  641px;
$medium-max:  1211px; 
$large-min:   1212px;
$large-max:   1440px;
$xl-min:      1441px;