@mixin body-copy {
	font-family: 'A Mono', monospace;
	font-size: 18px;
	font-weight: 400;
	line-height: 2em;
	color: $blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	@include body-copy();
}

a {
	color: $blue;
	text-decoration: none;
}


.button {
	@include body-copy();
	display: inline-block;
	padding: 1rem 1.5rem .75rem;
	background: $blue;
	color: white;

	&:hover,
	&.hover {
		background: none;
		box-shadow: inset 0 0 0 3px $blue;
		color: $blue;

		&:after {
			content: '→';
			display: inline;
			margin-left: 1rem;
		}
	}
}

@mixin cta {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		height: 50%;
		width: 100%;
		background: rgba($blue, 0.15);
	}

	&:hover:after {
		background: $blue;
	}

	&:focus {
		box-shadow: none;
		
		&:after {
			background: $blue;
		}
	}
}

@mixin redirect {
	&:after {
		content: '→';
		display: inline;
		padding-left: $column / 2;
	}
	&:hover:after {
		padding-left: $column;
	}
}

.redirect {
	@include redirect();
}

.cta {
	@include cta();
}

// For line broken CTA's
.cta-group {
	display: inline-block;

	&:hover .cta:after {
		background: $blue;
	}

	&:focus {
		box-shadow: none;
		
		.cta:after {
			background: $blue;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GTS', serif;
	font-weight: 800;
	line-height: 1.25em;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

@mixin intro {
	font-family: 'GTS';
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.78em;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;

	@media #{min-width($large-min)} {
		font-size: 1.44rem;
	}
}

.intro {
	@include intro();
}


[text-align~="left"] {
	text-align: left;
}
[text-align~="right"] {
	text-align: right;
}
[text-align~="center"] {
	text-align: center;
}