html, body {
	font-family: 'Apercu Mono', monospace;
	font-size: 18px;
	line-height: 2em;
	color: $blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $blue;
	text-decoration: none;
}

.cta {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		height: 50%;
		width: 100%;
		background: rgba($blue, 0.15);
	}

	&:hover:after {
		background: $yellow;
	}

	&:focus {
		box-shadow: none;
		
		&:after {
			background: $yellow;
		}
	}
}

// For line broken CTA's
.cta-group {
	display: inline-block;

	&:hover .cta:after {
		background: $yellow;
	}

	&:focus {
		box-shadow: none;
		
		.cta:after {
			background: $yellow;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GTS', serif;
	font-weight: 800;
	line-height: 1.25em;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

@mixin intro {
	font-family: 'GTS';
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.78em;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;

	@media #{min-width($large-min)} {
		font-size: 1.44rem;
	}
}

.intro {
	@include intro();
}


[text-align~="left"] {
	text-align: left;
}
[text-align~="right"] {
	text-align: right;
}
[text-align~="center"] {
	text-align: center;
}