#global-header {
	@include clearfix();
	padding-top: $column;
	position: relative;

	@media #{min-width($medium-min)} {
		padding-top: (2 * $column);
		padding-bottom: $column;
	}
}

#global-header .logo {
	display: inline-block;
	margin-bottom: $column;

	&:focus {
		box-shadow: none;
	}

	// MAGIC NUMBER
	@media (min-width: 1370px) {
		position: absolute;
		left: -5rem;
		top: (2 * $column);
		padding-top: 10px;
	}
}

#global-header .nav-container {
	@media #{min-width($medium-min)} {
		display: flex;
	}
}

#global-header nav {
	margin-bottom: $column;

	@media #{min-width($medium-min)} {
		flex: 1;

		ul.contact {
			text-align: right;
		}
	}
}

.hero-row {
	@include no-select();
}

h1.hero {
	font-size: 1.5rem;
	padding-bottom: $column * 1.5;
	line-height: 1.5em;
	//text-align: center;
	@include no-select();
	cursor: help;
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;

	@media #{min-width($medium-min)} {
		//padding-top: $column;
		padding-bottom: $column * 2.5;
		font-size: 2.6rem;
		line-height: 1.25em;
		//text-align: left;
	}

	@media #{min-width($large-min)} {
		font-size: 3.75rem;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
		&::selection {
			-webkit-text-fill-color: $yellow;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: $blue;
		}
	}
}